

html {
	font-size: 15px;
}

body {
	direction: ltr;
	text-align: left;
	background-image: url(img/img/Homepage-Bg.png);
	background-repeat: no-repeat;
	background-size: contain;
    background-position: top 830px right 0px;
}



img {
	max-width: 100%;
}

a {
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
	color: #ff4807;
}

sup {
	top: -.66667rem;
}


p {
	line-height: 2rem;
}



ul {
	list-style: none;
	padding: 0;
}


.go_top {
	line-height: 2.66667rem;
	cursor: pointer;
	width: 2.66667rem;
	color: #fff;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	position: fixed;
	-webkit-box-shadow: 0 4px 4px rgba(0,0,0,.1);
	box-shadow: 0 4px 4px rgba(0,0,0,.1);
	-webkit-border-radius: 1.66667rem 0 0 1.66667rem;
	border-radius: 1.66667rem 0 0 1.66667rem;
	right: 0;
	z-index: 111;
	bottom: 30px;
	text-align: center;
	background: #ff4807;
}

.btn-primary {
	-webkit-box-shadow: 0 10px 20px rgba(65,58,164,.2);
	box-shadow: 0 10px 20px rgba(65,58,164,.2);
}

.btn-secondary {
	-webkit-box-shadow: 0 10px 20px rgba(6,181,144,.2);
	box-shadow: 0 10px 20px rgba(6,181,144,.2);
}

.btn-success {
	-webkit-box-shadow: 0 10px 20px rgba(53,181,62,.2);
	box-shadow: 0 10px 20px rgba(53,181,62,.2);
}

.btn-info {
	-webkit-box-shadow: 0 10px 20px rgba(55,125,255,.2);
	box-shadow: 0 10px 20px rgba(55,125,255,.2);
}

.btn-warning {
	-webkit-box-shadow: 0 10px 20px rgba(255,175,0,.2);
	box-shadow: 0 10px 20px rgba(255,175,0,.2);
}

.btn-danger {
	-webkit-box-shadow: 0 10px 20px rgba(226,54,54,.2);
	box-shadow: 0 10px 20px rgba(226,54,54,.2);
}

.btn-light {
	-webkit-box-shadow: 0 10px 20px rgba(255,255,255,.2);
	box-shadow: 0 10px 20px rgba(255,255,255,.2);
}

.btn-dark {
	-webkit-box-shadow: 0 10px 20px rgba(32,36,40,.2);
	box-shadow: 0 10px 20px rgba(32,36,40,.2);
}

.outline-thick-primary {
	border: 2px solid rgba(65,58,164,.2);
	background: 0 0;
	color: #413aa4;
}

.outline-thick-secondary {
	border: 2px solid rgba(6,181,144,.2);
	background: 0 0;
	color: #06b590;
}

.outline-thick-success {
	border: 2px solid rgba(53,181,62,.2);
	background: 0 0;
	color: #35b53e;
}

.outline-thick-info {
	border: 2px solid rgba(55,125,255,.2);
	background: 0 0;
	color: #377dff;
}

.outline-thick-warning {
	border: 2px solid rgba(255,175,0,.2);
	background: 0 0;
	color: #ffaf00;
}

.outline-thick-danger {
	border: 2px solid rgba(226,54,54,.2);
	background: 0 0;
	color: #e23636;
}

.outline-thick-light {
	border: 2px solid rgba(255,255,255,.2);
	background: 0 0;
	color: #fff;
}

.outline-thick-dark {
	border: 2px solid rgba(32,36,40,.2);
	background: 0 0;
	color: #202428;
}

.btn {
	text-transform: capitalize;
	font-size: .93333rem;
	font-weight: 500;
}



p {
	line-height: 2rem;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 600;
}



.hr {
	margin: 5.33333rem 0;
}


.card {
	-webkit-border-radius: .26667rem;
	border-radius: .26667rem;
	overflow: hidden;
}

.card figure {
	margin: 0;
}

.card .card-body .card-title {
	margin-bottom: 25px;
}

.card .card-body h6 {
	margin-bottom: 0;
	line-height: 1.86667rem;
}

.card .card-body h4 a:hover {
	color: #413aa4;
}

.card .card-footer {
	padding: 1.66667rem 2rem;
}

.card .card-footer ul {
	margin: 0;
}

.card.card-shadow {
	-webkit-box-shadow: 0 5px 20px rgba(105,106,119,.05);
	box-shadow: 0 5px 20px rgba(105,106,119,.05);
	
}
.card-one {
	margin-bottom: 2rem
}
.card-one li{

	color:white;
}
.card-one figure {
	position: relative
}
.card-one figure figcaption {
	position: absolute;
	width: 100%;
	height: auto;
	left: 0;
	top: 0;
	background: rgb(6 181 144 / 89%);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	opacity: 0;
	visibility: hidden
}

.card-one figure figcaption a:hover {
	background: #413aa4;
	color: #fff
}
.card-one .card-subtitle {
	margin: 0 0 .66667rem 0;
	line-height: 1;
	color: #ff4807;
}
.card-one:hover figure figcaption {
	opacity: 1;
	visibility: visible
}
.card-one:hover figure figcaption a {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1)
}

.card-three{
height: 216px;
	
}

.card.card--dark {
	background: #fff;
}

.card.card--dark .card-header {
	background: inherit;
	padding: 1.53333rem 2rem 2rem;
}

.card.card--dark .card-header h5 {
	margin: 0;
}

.card.card--sidebar .card-header {
	padding: 2rem;
}

.card.card--sidebar .card-header h4 {
	margin: 0;
}

.card.card--sidebar .card-body {
	padding: 2rem 2rem 3.33333rem;
}


@media only screen and (min-width: 768px){
.text {
    top: 42%;
    left: 50%;
    margin: 28px 0;
}
.block-subject.clearfix {
    padding: 10px;
    font-size: 12px;
}
}

/*iti*/
.iti-top-trade .iti-subcont {
    box-shadow: 0 0px 2px 0px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0,0,0,0.2);
    border-top: 0;
}
@media only screen and (min-width: 769px){
.iti-subcont {
    display: flex;
}
}
.iti-subcont {
    clear: both;
    padding: 15px 0;
    background-color: #ff5500;
    border-top: 2px solid #eee;
    text-align: center;
    color: #fff;
    justify-content: center;
}
#ititrade_page .sub-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
}
.iti-subcont h1 {
    text-align: center;
    margin: 0 !important;
    font-size: 25px !important;
    color: white;
}
.iti-subcont h6 {
    margin: 0;
    font-size: 13px;
    text-transform: none;
    font-weight: 400;
    display: block;
}
.iti-subcont .video-popup {
    padding: 0 !important;
    margin: 5px 0 !important;
    left: 30px;
    position: relative;
}

.post--card4 {
	-webkit-box-shadow: 0 5px 30px rgba(105, 106, 119, .1);
	box-shadow: 0 5px 30px rgb(0 2 31 / 10%);
	border: 0 none;
	margin-bottom: 2rem
}
.post--card4:hover {
	border: 0 none
}


.post--card4 p {
	color: black !important;
}

.post--card4 figure {
    margin: 0 auto !important;
}

.post--card4 .card-body{
	padding: 0rem 1rem 1rem 2rem !important;
    
    text-align: center;
}

.buy-subjects {
    position: sticky;
    bottom: 0px;
    margin-top: -32px;
    z-index: 9999;
}
/*iti*/

/*product*/


.accordion_three .accordion-single {
	margin-bottom: 5px
}
.accordion_three .accordion-heading h6 a {
	display: block;
	padding: 1rem 2.66667rem 1rem 2rem;
	background:#f5f4f7;
	color: #202428;
	position: relative;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	line-height: 1.46667rem;
	font-size: 1rem;
	font-weight: 500
}
.accordion_three .accordion-heading h6 a[aria-expanded=true] {
	background: #06b590;
	color: #fff
}
.accordion_three .accordion-heading h6 a[aria-expanded=true]:before {
	content: '\f28e';
	color: #fff
}
.accordion_three .accordion-heading h6 a:before {
	position: absolute;
	content: '\f2c2';
	font-family: LineAwesome;
	right: 2rem;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #9192a3
}
.accordion_three .accordion-contents {
	padding: 1.33rem 2rem .66rem;
	background: #f5f4f7;
}
.accordion_three .collapsed.bg-gray-light {
	background: #f5f4f7
}
.spn_line_hght{
	color: #2d2d2d;
}
.iti-feature > div {
    margin-bottom: 20px;
}
.iti-bg {
    background-color: #fff;
    overflow: hidden;
    padding: 7px 14px;
    box-shadow: 0 0px 2px 0px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0,0,0,0.2);
}
.iti-icon {
    padding: 0;
}
.padding-zero {
    padding: 0px !important;
}
.iti-icon img {
    height: auto;
    margin: 0 auto;
    box-shadow: 2px 2px 1px 1px #ccc;
        display: block;
}
.iti-text span {
    display: block;
    padding-left: 5px;
}
.num-text {
    font-size: 18px;
    font-weight: 600;
}
.iti-text span {
    display: block;
    padding-left: 5px;
    font-size: 12px;
}

/*end*/

/*srvani*/

.card--eleven {
	position: relative;
	border: 0 none;
	overflow: hidden;
}

.card--eleven figure img {
	-webkit-border-radius: .33333rem;
	border-radius: .33333rem;
}

.card--eleven .card-body1 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 50px;
	background:#4d43d4;
	visibility: visible;
	opacity: 1;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	padding: 0.33333rem 2rem;
	transition: all .3s ease;
}



.card--eleven .card-body1.card-contents .content-top span {
	font-size: 2.4rem;
	color: #fff;
	margin-right: 1rem;
}

.card--eleven .card-body1 .card-contents .content-top h6 {
	margin-bottom: 0;
}

.card--eleven .card-body1 .card-contents .content-bottom {
	max-height: 0;
	-webkit-transition: .5s ease;
	-o-transition: .5s ease;
	transition: .5s ease;
	overflow: hidden;
}

.card--eleven .card-body1 .card-contents .content-bottom p {
	margin-top: 1rem;
}

.card--eleven .card-body1 h6 {
	color: #fff;
	margin-bottom: 0;
}
.card--eleven .card-body1:hover h6{
	display:none;
}

.card--eleven .card-body1 p {
	color: rgba(255,255,255,.9);
	margin-bottom: 2rem;
}

.card--eleven:hover .card-body1 {
	min-height: 100%;
}

.card--eleven:hover .card-body1 .card-contents {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	padding: 0 1.66667rem;
}

.card--eleven:hover .card-body1 .card-contents .content-top {
	display: block;
	text-align: center;
}

.card--eleven:hover .card-body1 .card-contents .content-top span {
	display: none;
}

.card--eleven:hover .card-body1 .card-contents .content-top h5 {
	margin-bottom: 2rem;
}

.card--eleven:hover .card-body1 .card-contents .content-bottom {
	max-height: 300px;
}

/*srvani*/



.card--testimonial2 {
	margin-bottom: 2rem;
	border: 1px solid #f3f3f3!important;
}

.card--testimonial2 .card-body h6 {
	padding-top: 18px;
	color: #202428;
}

.card--testimonial2 .ratings {
	margin: .33333rem 0 1rem 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.card--testimonial2 .ratings span {
	margin: 0 1px 0 0;
}

.card--testimonial2 .ratings span:last-child {
	margin--right: 0;
}

.card--testimonial2 .author-spec {
	margin-top: 1.33333rem;
	margin-bottom: 0;
}

.card--testimonial2 .author-spec strong {
	font-weight: 500;
	color: #202428;
}



.social ul li {
	margin-right: .66667rem;
}

.social ul li:last-child {
	margin-right: 0;
}

.social ul li a {
	line-height: 2.53333rem;
	width: 2.53333rem;
	display: inline-block;
	text-align: center;
	-webkit-border-radius: 33.33333rem;
	border-radius: 33.33333rem;
	background: #29292d;
	color: #fff;
}

.social ul li a span {
	font-size: .86667rem;
}

.social ul li a:hover {
	background-color: #413aa4;
	color: #fff;
}

.social.social--small ul li a {
	line-height: 2.53333rem;
	width: 2.53333rem;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.social.social--small ul li a span {
	color: #fff;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.social.social--small ul li a:hover span {
	color: #fff;
}

.social.square ul li a {
	-webkit-border-radius: 0;
	border-radius: 0;
	background: 0 0;
	border: 1px solid #e4e8ed;
}

.social.social--gray ul li a {
	background: #f5f4f7!important;
	color: #5a6671;
}

.social.social--gray ul li a span {
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color: #9192a3;
}

.social.social--gray ul li a:hover {
	color: #fff;
	background: #413aa4;
}

.social.social--gray ul li a:hover span {
	color: #fff;
}

.social.social--colored ul li a.facebook {
	background: #3b5998;
}

.social.social--colored ul li a.twitter {
	background: #47adfa;
}

.social.social--colored ul li a.linkedin {
	background: #0677b4;
}

.social.social--colored ul li a.gplus {
	background: #dd4b39;
}

.social.social--colored ul li a.pinterest {
	background: #bc091b;
}

.social-basic ul li {
	margin-right: 1.66667rem;
}

.social-basic ul li:last-child {
	margin-right: 0;
}

.social-basic ul li a {
	color: rgba(32,36,40,.5);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.social-basic ul li a:hover {
	color: #06b590;
}

.social-basic .rounded-circle li {
	margin-right: .66667rem;
}

.social-basic .rounded-circle li a {
	width: 2.13333rem;
	height: 2.13333rem;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #fff;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: .8rem;
	color: rgba(90,102,113,.6);
}

.social-basic.icon-light li a {
	background: #fff;
	color: rgba(90,102,113,.6);
}

.social-basic.icon-light li a:hover {
	background: #413aa4;
	color: #fff;
}

.social-basic.icon-grey li a {
	background: rgba(65,58,164,.06);
}

.social-basic.icon-grey li a:hover {
	background: #413aa4;
	color: #fff;
}

.social-btns {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.social-btns li {
	margin-right: 1.33333rem;
}

.social-btns li:last-child {
	margin-right: 0;
}

.social-btns .btn {
	color: #fff;
}

.social-btns .btn span {
	padding-right: .53333rem;
}

.social-btns .btn-facebook {
	background: #3b5998;
}

.social-btns .btn-twitter {
	background: #47adfa;
}

.social-btns .btn-linkedin {
	background: #0677b4;
}

.social-btns .btn-gplus {
	background: #dd4b39;
}


.menu_area {
	-webkit-box-shadow: .33333rem 0 1.33333rem rgba(87,87,87,.1);
	box-shadow: .33333rem 0 1.33333rem rgba(87,87,87,.1);
	position: relative;
}

.menu_area.bgimage:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background: rgba(12,13,32,.8);
}

.menu_area .nav_right_content .nav_right_module+.nav_right_module {
	padding-left: 1.6rem;
}

.menu_area .nav_right_content .nav_right_module:last-child {
	padding-right: 0;
}

.menu_area .navbar {
	padding: 1rem;
}

.menu_area .navbar.navbar-primary .navbar-toggler {
	color: #fff;
}

.menu_area .navbar.navbar-dark .navbar-nav .nav-item.dropdown .nav-link:before {
	color: #928d8d;
}

.menu_area .navbar.navbar-bg .navbar-nav .nav-item.dropdown .nav-link:before {
	color: #ededed;
}

.menu_area .navbar .navbar-nav .nav-item {
	position: relative;
}

.menu_area .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
	font-size: 15px;
}

.menu_area .navbar .navbar-nav .nav-item.has_mega-lg {
	position: static;
}

.menu_area .navbar .navbar-nav .nav-item:hover .mega-menu {
	visibility: visible;
	opacity: 1;
	top: 4.53333rem;
}

.menu_area .navbar .navbar-nav .nav-item:hover .mega-menu-lg {
	top: 5.6rem;
}

.menu_area .navbar .navbar-nav .nav-item .nav-link:after {
	position: absolute;
	width: 100%;
	content: '';
	height: 1rem;
	bottom: -1.06667rem;
	left: 0;
}

@media (min-width:992px) {
	.menu_area .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
		display: block;
		top: 6.66667rem!important;
		-webkit-border-radius: 0;
		border-radius: 0;
		-webkit-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
		-webkit-box-shadow: 0 0 30px rgba(41,41,59,.1);
		box-shadow: 0 0 30px rgba(41,41,59,.1);
		opacity: 0;
		visibility: hidden;
		padding: 2rem;
	}

	.menu_area .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
		padding: 0 0 1rem;
	}

	.menu_area .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:last-child {
		padding: 0;
	}

	.menu_area .navbar .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
		top: 4.66667rem!important;
		opacity: 1;
		visibility: visible;
	}
}

.menu_area .navbar .navbar-nav .nav-item.dropdown .nav-link {
	position: relative;
}

.menu_area .navbar .navbar-nav .nav-item.dropdown .nav-link:before {
	position: absolute;
	content: '\f110';
	font-size: .66667rem;
	font-family: LineAwesome;
	color: rgba(0,0,0,.5);
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.menu_area .navbar.navbar-primary {
	padding: .66667rem 1.8rem;
	background: #413aa4;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.menu_area .navbar.navbar-primary .navbar-nav .nav-link {
	color: #fff;
}

.menu_area .navbar.navbar-primary .nav_right_content .nav_right_module>span.la {
	color: #fff;
}

.menu_area .navbar.navbar-primary .nav_right_content .social_module ul li a {
	color: rgba(255,255,255,.5);
}

.menu_area .navbar.navbar-primary .nav_right_content .social_module ul li a:hover {
	color: #fff;
}

.menu_area .navbar-nav .nav-link {
	font-weight: 500;
	text-transform: capitalize;
	padding: 1.2rem 1rem;
}



@media (min-width:992px) {
	.menu_area .mega-menu {
		position: absolute;
		-webkit-box-shadow: 0 0 30px rgba(41,41,59,.1);
		box-shadow: 0 0 30px rgba(41,41,59,.1);
		background: #fff;
		width: 46.66667rem;
		left: -2.66667rem;
		top: 6.66667rem;
		z-index: 10;
		-webkit-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
		opacity: 0;
		visibility: hidden;
	}
}

.menu_area .mega-menu ul {
	padding: 2.66667rem;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.menu_area .mega-menu ul li {
	margin-bottom: 1rem;
}

.menu_area .mega-menu ul li:last-child {
	margin-bottom: 0;
}

.menu_area .mega-menu ul li h6 {
	color: #202428;
	font-weight: 500;
	margin-bottom: 1.33333rem;
}

.menu_area .mega-menu ul li a {
	color: inherit;
	font-size: 15px;
}

.menu_area .mega-menu ul li a:hover {
	color: #413aa4;
}

.menu_area .mega-menu ul li+li h6 {
	margin-top: 2rem;
}

@media (min-width:992px) {
	.menu_area .mega-menu.mega-menu-lg {
		width: 100%;
		left: 0;
	}
}



.navbar-bg .navbar-nav .nav-link {
	color: rgba(255,255,255,.7);
}

.navbar-bg .navbar-nav .nav-link:hover {
	color: #fff;
}

.navbar-bg .nav_right_content .nav_right_module .input-group-light span.icon-left .la {
	color: #5a6671;
}

.navbar-bg .nav_right_content .nav_right_module .search_trigger,.navbar-bg .nav_right_content .nav_right_module span.la-la-angle-down {
	color: rgba(255,255,255,.7);
}

.navbar-bg .nav_right_content .nav_right_module .search_trigger:hover,.navbar-bg .nav_right_content .nav_right_module span.la-la-angle-down:hover {
	color: #fff;
}

@media (max-width:991.98px) {
	.navbar.navbar-dark .navbar-toggler {
		color: #fff;
	}

	.navbar .navbar-toggler {
		padding: .33333rem .66667rem;
		font-size: 1.66667rem;
		color: #413aa4;
		-webkit-box-shadow: 0 0 4px rgba(0,0,0,.1);
		box-shadow: 0 0 4px rgba(0,0,0,.1);
		border: 1px solid #f2f2f2;
	}

	.navbar .navbar-brand {
		width: 48%;
		margin: 0;
	}

	.navbar .navbar-brand img {
		max-width: 100%;
	}

	.navbar .navbar-collapse {
		position: relative;
		top: 100%;
		left: 0;
		background: #fff;
		width: 100%;
		z-index: 100;
		max-height: 300px;
		overflow: scroll;
	/*	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.1);
		box-shadow: 0 1px 6px rgba(0,0,0,.1);*/
	}
}

.nav_right_content ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.nav_right_content .cart_module {
	position: relative;
}

.nav_right_content .cart_module .cart__icon {
	position: relative;
}

.nav_right_content .cart_module:hover .cart__items {
	opacity: 1;
	visibility: visible;
	top: 100%;
}

.nav_right_content .cart_module .cart__items {
	position: absolute;
	right: -20px;
	min-width: 350px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	z-index: 2;
	background: #fff;
	visibility: hidden;
	opacity: 0;
	top: calc(100% + 20px);
}

.nav_right_content .cart_module .cart__items .items {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 15px 25px;
	border-bottom: 1px solid #e4e8ed;
}

.nav_right_content .cart_module .cart__items .items .item_thumb {
	margin-right: 15px;
}

.nav_right_content .cart_module .cart__items .items .item_info {
	margin-right: 10px;
}

.nav_right_content .cart_module .cart__items .items .item_info>a {
	color: #202428;
	line-height: 1.53333rem;
	display: inline-block;
	margin-bottom: 10px;
}

.nav_right_content .cart_module .cart__items .items .item_info span {
	font-weight: 500;
}

.nav_right_content .cart_module .cart__items .items .item_remove {
	display: inline-block;
	-webkit-transition: initial;
	-o-transition: initial;
	transition: initial;
}

.nav_right_content .cart_module .cart__items .items .item_remove span {
	font-size: 14px;
	line-height: 30px;
	width: 2rem;
	background: #f4f4f4;
	text-align: center;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.nav_right_content .cart_module .cart__items .cart_info {
	padding: 20px 25px;
}

.nav_right_content .cart_module .cart__items .cart_info p {
	margin-bottom: 15px;
}

.nav_right_content .cart_module .cart__items .cart_info p span {
	font-weight: 500;
	font-size: 18px;
}

.nav_right_content .cart_module .cart__items .cart_info a+a {
	margin-left: 10px;
}

.nav_right_content .cart_module span.la {
	font-size: 1.66667rem;
	color: #202428;
}

.nav_right_content .cart_module .cart_count {
	position: absolute;
	top: -.93333rem;
	left: 3px;
	display: inline-block;
	line-height: 1.33333rem;
	width: 1.2rem;
	text-align: center;
	font-size: .8rem;
	color: #fff;
	-webkit-border-radius: 13.33333rem;
	border-radius: 13.33333rem;
}

.nav_right_content .search_module {
	position: relative;
	z-index: 3;
}

.nav_right_content .search_module .search_area {
	position: absolute;
	width: 300px;
	right: -10px;
	opacity: 0;
	visibility: hidden;
	padding: 10px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	top: calc(100% + 40px);
	background: #fff;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 5px 30px rgba(105,106,119,.2);
	box-shadow: 0 5px 30px rgba(105,106,119,.2);
}

.nav_right_content .search_module .search_area .input-group-light span.icon-left .la {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
	color: #969696;
}

.nav_right_content .search_module .search_area.active {
	top: calc(100% + 19px);
	opacity: 1;
	visibility: visible;
}

.nav_right_content .search_module .search_area .search_field {
	border: 0;
}

.nav_right_content .search_module>span {
	font-size: 1.33333rem;
	color: #202428;
	cursor: pointer;
	line-height: 2rem;
}

.nav_right_content .social_module ul li {
	padding: 0 .66667rem;
}

.nav_right_content .social_module ul li a {
	color: #9192a3;
}

.nav_right_content .social_module ul li a:hover {
	color: #413aa4;
}

@media (max-width:1199.98px) {
	.nav_right_content .search_module {
		padding: 0 .6rem 0 .33333rem;
	}
}


footer {
	background: #f4f4f4;
}

footer .footer__big {
	padding: 7.33333rem 0 3.33333rem;
}

footer .footer__big .text_widget p {
	line-height: 2rem;
	margin-bottom: 1.33333rem;
}

footer .footer__big .text_widget p .address,footer .footer__big .text_widget p .mail,footer .footer__big .text_widget p .tel {
	display: block;
	color: #5a6671;
}

footer .footer__big .text_widget p .mail:hover,footer .footer__big .text_widget p .tel:hover {
	color: #06b590;
}

footer .footer__big .text_widget .footer_logo {
	margin-bottom: 2rem;
}

footer .footer__big .widget {
	margin-bottom: 4rem;
}

footer .footer__big .widget .widget__title {
	font-size: 1.06667rem;
	text-transform: uppercase;
	line-height: normal;
	font-weight: 600;
	position: relative;
}

footer .footer__big .widget .widget__title2 {
	font-size: 1.13333rem;
	color: #202428;
}

footer .footer__big .widget .widget__social {
	margin-top: 30px;
}

footer .footer__big .widget.subcribe--widget .subscribe_form .embed_icon {
	font-size: 1.33333rem;
	color: #5a6671;
}

footer .footer__big .widget.subcribe--widget .subscribe_form input {
	width: 100%;
	font-size: 1rem;
	color: #9192a3;
	outline: 0;
	padding-left: 1.4rem;
	padding-right: 1rem;
}

footer .footer__big .widget ul.links li {
	margin-bottom: .66667rem;
}

footer .footer__big .widget ul.links li:last-child {
	margin-bottom: 0;
}

footer .footer__big .widget ul.links li a {
	color: #5a6671;
}

footer .footer__big .widget ul.links li a:hover {
	color: #06b590;
}

footer .footer__big .widget--contact_info ul li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 31px;
}

footer .footer__big .widget--contact_info ul li span.la {
	font-size: 28px;
	margin-right: 12px;
}

footer .footer__big .widget--contact_info ul li .info p {
	margin: 0;
	color: #fff;
	font-size: 1.06667rem;
	line-height: 26px;
}

footer .footer__big .widget--contact_info ul li .info small {
	font-size: 14px;
}

footer .footer__big .widget--latest-news ul li {
	margin-bottom: 20px;
}

footer .footer__big .widget--latest-news ul li small {
	font-size: 1rem;
	display: block;
	line-height: 30px;
}

footer .footer__big .widget--latest-news ul li a {
	color: #fff;
	font-weight: 500;
	line-height: 28px;
}

footer .footer__small {
	background: #000;
}

footer .footer__small p {
	color: rgba(255,255,255,.6);
	margin: 0;
	padding: 30px 0;
}

footer .footer__small a {
	color: #06b590;
}




/*sravani*/

.nav-circle button {
	width: 3.06667rem;
    height: 3.06667rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 1.2rem;
    color: #000;
    border: 0 none;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    background: #ffaf00;
}

.nav-circle button:focus {
	outline: 0;
}

.nav-circle .owl-prev {
	margin-left: -4rem;
	position: absolute;
	left: 0;
	top: 47%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.nav-circle .owl-next {
	margin-right: -4rem;
	position: absolute;
	right: 0;
	top: 47%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.nav-circle.nav-circle--light button {
	width: 2.66667rem;
	height: 2.66667rem;
	background: #fff;
	color: #9192a3;
	-webkit-box-shadow: 0 5px 30px rgba(41,41,59,.1);
	box-shadow: 0 5px 30px rgba(41,41,59,.1);
}

.nav-circle.nav-circle--light button:hover {
	color: #fff;
}

.nav-circle.nav-circle--lighten button {
	width: 2.66667rem;
	height: 2.66667rem;
	background: rgba(255,255,255,.1);
	color: #fff;
	-webkit-box-shadow: 0 5px 30px rgba(41,41,59,.1);
	box-shadow: 0 5px 30px rgba(41,41,59,.1);
	font-size: .86667rem;
}

.nav-circle.nav-circle--lighten button:hover {
	color: #fff;
}

/*sravani*/





.carousel-three {
	position: relative;
}

.carousel-three .carousel-single {
	padding: 1rem;
}






/*sravani*/



.testimonial-carousel-three .nav-circle {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.testimonial-carousel-three:hover .nav-circle {
	visibility: visible;
	opacity: 1;
}

.testimonial-carousel-three .carousel-single {
	padding: 1rem;
}

.testimonial-carousel-three .carousel-single .card img {
	width: 70px;
	margin: 0 auto;
}
.card  p{
	color:white;

}

/*sravani*/





.dropdown .dropdown-toggle:focus {
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
}

.dropdown .dropdown-caret {
	display: inline-block;
	padding-left: 1rem;
}

.dropdown .dropdown-menu {
	top: .66667rem!important;
	min-width: 12.66667rem;
	margin: 0;
	padding: 0;
	-webkit-box-shadow: 0 5px 30px rgba(41,41,59,.1);
	box-shadow: 0 5px 30px rgba(41,41,59,.1);
	border: 0 none;
}

.dropdown .dropdown-menu .dropdown-item:hover {
	background: 0 0;
	color: #413aa4;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.dropdown .dropdown--btn .dropdown-item:hover {
	background: #413aa4;
	color: #fff;
	-webkit-border-radius: .2rem;
	border-radius: .2rem;
}

.dropdown .dropdown--text .dropdown-text-item {
	padding: 30px;
	margin: 0;
}



footer {
	background: #f4f4f4;
}

footer .footer__big {
	padding: 7.33333rem 0 3.33333rem;
}

footer .footer__big .text_widget p {
	line-height: 2rem;
	margin-bottom: 1.33333rem;
}

footer .footer__big .text_widget p .address,footer .footer__big .text_widget p .mail,footer .footer__big .text_widget p .tel {
	display: block;
	color: #5a6671;
}

footer .footer__big .text_widget p .mail:hover,footer .footer__big .text_widget p .tel:hover {
	color: #06b590;
}

footer .footer__big .text_widget .footer_logo {
	margin-bottom: 2rem;
}

footer .footer__big .widget {
	margin-bottom: 4rem;
}

footer .footer__big .widget .widget__title {
	font-size: 1.06667rem;
	text-transform: uppercase;
	line-height: normal;
	font-weight: 600;
	position: relative;
}

footer .footer__big .widget .widget__title2 {
	font-size: 1.13333rem;
	color: #202428;
}

footer .footer__big .widget .widget__social {
	margin-top: 30px;
}

footer .footer__big .widget.subcribe--widget .subscribe_form .embed_icon {
	font-size: 1.33333rem;
	color: #5a6671;
}

footer .footer__big .widget.subcribe--widget .subscribe_form input {
	width: 100%;
	font-size: 1rem;
	color: #9192a3;
	outline: 0;
	padding-left: 1.4rem;
	padding-right: 1rem;
}

footer .footer__big .widget ul.links li {
	margin-bottom: .66667rem;
}

footer .footer__big .widget ul.links li:last-child {
	margin-bottom: 0;
}

footer .footer__big .widget ul.links li a {
	color: #5a6671;
}

footer .footer__big .widget ul.links li a:hover {
	color: #06b590;
}

footer .footer__big .widget--contact_info ul li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 31px;
}

footer .footer__big .widget--contact_info ul li span.la {
	font-size: 28px;
	margin-right: 12px;
}

footer .footer__big .widget--contact_info ul li .info p {
	margin: 0;
	color: #fff;
	font-size: 1.06667rem;
	line-height: 26px;
}

footer .footer__big .widget--contact_info ul li .info small {
	font-size: 14px;
}

footer .footer__big .widget--latest-news ul li {
	margin-bottom: 20px;
}

footer .footer__big .widget--latest-news ul li small {
	font-size: 1rem;
	display: block;
	line-height: 30px;
}

footer .footer__big .widget--latest-news ul li a {
	color: #fff;
	font-weight: 500;
	line-height: 28px;
}

footer .footer__small {
	background: #000;
}

footer .footer__small p {
	color: rgba(255,255,255,.6);
	margin: 0;
	padding: 30px 0;
}

footer .footer__small a {
	color: #06b590;
}

footer .footer__bottom .footer__bottom-content {
	border-top: 1px solid #eaeaea;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 2.33333rem 0;
}

footer .footer__bottom .footer__bottom-content p {
	margin: 0;
}

footer .footer__bottom .footer__bottom-content p>a {
	color: #06b590;
}

footer .footer__bottom .footer__bottom-content .social-basic li a {
	color: #9192a3;
}

footer .footer__bottom .footer__bottom-content .social-basic li a:hover {
	color: #06b590;
}

footer.footer--dark .footer__big .text_widget p a,footer.footer--dark .footer__big .text_widget p span {
	color: rgba(255,255,255,.5);
}

footer.footer--dark .footer__big .widget.subcribe--widget p {
	color: rgba(255,255,255,.5);
}

footer.footer--dark .footer__big .widget .widget__title {
	color: #fff;
}

footer.footer--dark .footer__big .widget ul.links li a:hover {
	color: #06b590;
}

footer.footer--light .widget__social .social ul li a {
	background: #fff;
}

footer.footer--light .widget__social .social ul li a span {
	color: #9192a3;
}

footer.footer--light .widget__social .social ul li a:hover {
	background: #413aa4;
}

footer.footer--light .widget__social .social ul li a:hover span {
	color: #fff;
}

footer.footer--light .widget--contact_info ul li .info p {
	color: #202428;
	font-weight: 500;
}

footer.footer--light .widget--latest-news ul li a {
	color: #202428;
}

footer.footer2.footer--light {
	background: #fff;
}

footer.footer2.footer--light .widget.twit--widget .user .name {
	color: #06b590;
}

footer.footer2.footer--light .widget.twit--widget .user .name+span {
	color: #9192a3;
}

footer.footer2.footer--light .footer__small {
	background: #fff;
	border-top: 1px solid #e4e8ed;
}

footer.footer2.footer--light .footer__small p {
	color: #5a6671;
}

footer.footer2 .widget.twit--widget .user {
	margin-top: 14px;
}

footer.footer2 .widget.twit--widget .user .name {
	color: #fff;
}

footer.footer2 .widget.twit--widget .user .name+span:before {
	content: "-";
	margin: 0 3px;
}

footer.footer2 .widget.twit--widget a {
	display: inline-block;
}

footer.footer2 .widget.twit--widget span.fab {
	margin-right: 12px;
	font-size: 18px;
}

footer.footer2 .widget.twit--widget .twit_wrapper>span {
	position: relative;
	top: .46667rem;
}

footer.footer2 .footer__small p {
	color: rgba(255,255,255,.7);
}

footer.footer2 .footer__small p a:hover {
	color: #fff;
}

footer.footer3 .footer__small {
	background: #e4e8ed;
}

footer.footer3 .footer__small p {
	color: #5a6671;
}

footer.footer4 .footer__big {
	padding: 7.33333rem 0;
}

footer.footer4 .footer_menu_items ul li {
	padding: .94rem;
}

footer.footer4 .footer_menu_items ul li a {
	line-height: 2.14rem;
	color: rgba(255,255,255,.5);
}

footer.footer4 .footer_menu_items ul li a:hover {
	color: #fff;
}

footer.footer4 .footer__small .info_links li+li {
	margin-left: 17px;
}

footer.footer4 .footer__small .info_links:before {
	content: '|';
	margin: 0 30px;
	color: rgba(255,255,255,.2);
}

footer.footer4 .footer_menu_items {
	background: rgba(255,255,255,.1);
}

footer.footer4 .footer__small {
	padding: 1.66667rem 0;
	border-top: 1px solid rgba(255,255,255,.1);
}

footer.footer4 .footer__small p,footer.footer4 .footer__small ul {
	padding: 0;
	margin: 0;
}

footer.footer4 .social.square ul li a {
	border: 1px solid rgba(255,255,255,.2);
}

footer.footer4 .social.square ul li a:hover {
	border-color: transparent;
}

footer.footer4.footer--light .footer4_text {
	color: #5a6671;
}

footer.footer4.footer--light .footer_menu_items {
	background: #fff;
}

footer.footer4.footer--light .footer__small {
	background: #fff;
}

footer.footer4.footer--light .footer__small p {
	color: #5a6671;
}

footer.footer4.footer--light .footer__small .info_links li a {
	color: #5a6671;
}

footer.footer4.footer--light .footer__small .social.square li a {
	color: #9192a3;
	border-color: #e4e8ed;
}

footer.footer4.footer--light .footer__small .social.square li a:hover {
	color: #fff;
	border-color: transparent;
}

footer.footer4 .footer4_text {
	margin: 3.33rem 0 4.66rem;
	line-height: 2rem;
}

footer.footer5.footer--bw .footer__big {
	background: #111115;
}

footer.footer5.footer--bw .footer__big .text_widget a {
	color: #fff;
}

footer.footer5.footer--bw .footer__big .text_widget a:hover {
	color: #413aa4;
}

footer.footer5.footer--bw .footer__big .widget ul.links a:hover {
	color: #fff;
}

footer.footer5.footer--bw .footer__big .widget .widget__title {
	color: #fff;
}

footer.footer5.footer--bw .footer_small {
	background: #000;
}

footer.footer--light-gradient {
	background: -webkit-gradient(linear,left top,left bottom,from(#fbfbfd),to(#f2f1fa));
	background: -webkit-linear-gradient(top,#fbfbfd,#f2f1fa);
	background: -o-linear-gradient(top,#fbfbfd,#f2f1fa);
	background: linear-gradient(to bottom,#fbfbfd,#f2f1fa);
}

footer.footer6 {
	position: relative;
	overflow: hidden;
	padding-top: 4.33333rem;
}

footer.footer6:before {
	position: absolute;
	content: "";
	width: 180%;
	height: 150%;
	background: #fff;
	left: -40%;
	top: -137%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

footer.footer6.footer--dark .widget .widget__title2 {
	color: #fff;
}

footer.footer6.footer--dark .footer__bottom .footer__bottom-content {
	border-color: rgba(255,255,255,.1);
}

footer.footer7 {
	position: relative;
	overflow: hidden;
	background: url(img/shape-wave3.png) center/100% 100% no-repeat;
	padding-top: 4.66667rem;
}

footer.footer7.footer--dark .widget .widget__title2 {
	color: #fff;
}

footer.footer7.footer--dark .footer__bottom .footer__bottom-content {
	border-color: rgba(255,255,255,.1);
}

.nav-tabs {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	border: 0 none;
}

.nav-tabs .nav-item .nav-link {
	background: #413aa4;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	color: #fff;
	font-size: 1.06667rem;
	font-weight: 500;
	line-height: 3.2rem;
	padding: 0 1.86667rem;
}

.nav-tabs .nav-item .nav-link.active {
	background: #fff;
}

.nav-tabs .nav-item {
	position: relative;
	top: 1px;
	z-index: 1;
	margin: 0;
}

.nav-tabs .nav-item:first-child .nav-link {
	-webkit-border-radius: 4px 0 0 0;
	border-radius: 4px 0 0 0;
}

.nav-tabs .nav-item:last-child .nav-link {
	-webkit-border-radius: 0 4px 0 0;
	border-radius: 0 4px 0 0;
}

.nav-pills .nav-item {
	margin-right: 10px;
}

.nav-pills .nav-item:last-child {
	margin-right: 0;
}

.nav-pills .nav-item .nav-link {
	background: rgba(65,58,164,.1);
	font-weight: 400;
	font-size: .93333rem;
	line-height: 3.06667rem;
	padding: 0 30px;
}

.nav-pills .nav-item .nav-link:hover {
	color: #fff;
}







.intro-three {
	min-height: 37.33333rem;
	position: relative;
	background-repeat: no-repeat;
    background-image: url(img/img/Banner-bg.png);
    background-size: cover;
    background-position: center center;
	
	overflow: hidden;
}

.intro-three:before {
	position: absolute;
	content: '';
	width: 80rem;
	height: 93.33333rem;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	left: -520px;
	bottom: -900px;
}

.intro-three:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	
}

.intro-three .intro-three--img {
	position: absolute;
    width: 66%;
    height: 100%;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0.46667rem;
}

.intro-three .intro-three--contents {
	position: absolute;
	width: 100%;
	left: 0;
	height: 100%;
	top: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 1;
}

.intro-three .intro-three--contents h1 {
	font-weight: 600;
}

.intro-three .intro-three--contents p {
	font-size: 1.13333rem;
	margin: 0;
	line-height: 2.13333rem;
}

.intro-three .intro-three--contents .btn {
	margin-top: 2.33333rem;
}



}

.testimonials .owl-carousel {
	margin-top: -1rem;
}

@media (min-width:992px) and (max-width:1199px) {
	.menu_area.menu1 .nav_right_content .search_module {
		display: none;
	}

	

	.footer__small .content-left,.footer__small .content-right {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}

	.footer__small .content-right {
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}

	footer.footer4 .footer__small .info_links:before {
		content: none;
	}

	

	.card-body {
		padding: 2.3rem;
	}

	.card--testimonial {
		padding: 2.33333rem;
	}

	.card .card-footer {
		padding: 2rem;
	}


	section.intro-area {
		overflow-x: hidden;
	}
}

@media (max-width:991px) {

	.menu_area .navbar .navbar-nav .nav-item.dropdown .nav-link:before {
		right: 20px;
		font-size: 13px;
	}

	.menu_area .navbar .navbar-nav .nav-item .nav-link {
		padding: 10px 20px;
		color: #202428;
	}

	.menu_area .navbar.navbar-bg .navbar-nav .nav-item.dropdown .nav-link:before {
		color: inherit;
	}

	.menu_area .navbar-nav .nav-item>.nav-link {
		color: #202428;
	}

	.menu_area .navbar-nav .nav-item>.nav-link.active {
		color: #413aa4;
	}

	.menu_area .dropdown-menu a.dropdown-item {
		padding: 4px 15px;
	}

	.menu_area .dropdown-menu,.menu_area .mega-menu {
		width: 100%;
		-webkit-box-shadow: 0 0 0;
		box-shadow: 0 0 0;
		background: #f9f9f9;
		left: auto;
		position: initial;
		padding: 10px 20px;
	}

	.menu_area .dropdown-menu ul,.menu_area .mega-menu ul {
		-webkit-box-flex: initial;
		-webkit-flex: initial;
		-ms-flex: initial;
		flex: initial;
		padding: 0 15px;
	}

	.menu_area .dropdown-menu ul+ul,.menu_area .mega-menu ul+ul {
		margin-top: 7px;
	}

	.menu_area .dropdown-menu ul+ul>li>h6,.menu_area .mega-menu ul+ul>li>h6 {
		margin-top: 24px;
	}

	.menu_area .dropdown-menu ul li,.menu_area .mega-menu ul li {
		margin-bottom: 8px;
	}

	

	.footer__small .content-left,.footer__small .content-right {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		width: 100%;
	}

	.footer__small .content-left {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		text-align: center;
	}

	.footer__small .content-left p,.footer__small .content-left ul {
		width: 100%;
	}

	.footer__small .content-left ul {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.footer__small .content-right {
		margin-top: 1rem;
	}

	footer.footer4 .footer__small .info_links:before {
		content: none;
	}

	

	.testimonials {
		padding-bottom: 5rem;
	}

	
	.menu6 .navbar.navbar-dark .navbar-nav .nav-item.dropdown .nav-link:before,.menu7 .navbar.navbar-dark .navbar-nav .nav-item.dropdown .nav-link:before,.menu8 .navbar.navbar-dark .navbar-nav .nav-item.dropdown .nav-link,.menu8 .navbar.navbar-dark .navbar-nav .nav-item.dropdown .nav-link:before {
		color: #202428;
	}
}

@media (min-width:768px) and (max-width:991px) {
	html {
		font-size: 14.5px;
	}

	
}

@media screen and (max-width:767px) {
	

	.carousel-three .nav-circle .owl-prev {
		margin-left: 0;
	}

	.carousel-three .nav-circle .owl-next {
		margin-right: 0;
	}

	.logo-carousel-three .nav-square-dark .owl-prev {
		margin-left: 0;
	}

	.logo-carousel-three .nav-square-dark .owl-next {
		margin-right: 0;
	}

	

	.nav-circle button {
		width: 3rem;
		height: 3rem;
	}

	textarea.form-control {
		height: 200px;
	}

	html {
		font-size: 14px;
	}

	
	.intro-three,.intro-two {
		padding: 5.33333rem 0;
	}

	.intro-two .form-wrapper {
		margin-top: 3.33333rem;
	}

	.image-carousel-one .nav-circle button {
		width: 2.33333rem;
		height: 2.33333rem;
		font-size: .86667rem;
	}

	
}

@media (min-width:320px) and (max-width:575.98px) {
	
	footer .footer__big {
		padding: 75px 0 20px;
	}

	
}

@media screen and (max-width:479px) {
	html {
		font-size: 13px;
	}

	body {
		font-size: 14px;
	}

	.menu1 .navbar-brand {
		-webkit-box-ordinal-group: 1!important;
		-webkit-order: 0!important;
		-ms-flex-order: 0!important;
		order: 0!important
	}
	.menu1 .nav_right_content {
		display: block !important;
	}

	footer.footer6 {
		padding-top: 0;
	}

	footer .footer__bottom .footer__bottom-content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	footer .footer__bottom .footer__bottom-content p {
		text-align: center;
		margin-bottom: 1rem;
	}
.vertical-align {
    color: #202428;
    line-height: 0.2rem !important;
    margin: 0;
}
.pt-156 {
    padding-top: 0px !important;
}
	.pt-100 {
    padding-top: 0px !important;
}

	.carousel {
    width: 221px !important;
    margin: 0 auto;
    padding-bottom: 50px;
}

.menu_area .dropdown-menu, .menu_area .mega-menu {
    width: 100%;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    background: #f9f9f9;
    left: auto;
    position: initial;
    padding: 10px 20px;
}
.dropdown .dropdown-menu {
    top: .66667rem!important;
    min-width: 12.66667rem;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0 5px 30px rgba(41,41,59,.1);
    box-shadow: 0 5px 30px rgba(41,41,59,.1);
    border: 0 none;
}
 .inline-block{
display:inline-block;
 }

 .enginering-img{
	padding: 0px 0px !important;
}

.enginering-text{
	padding: 0px 0px !important;
}

}

@media (min-width:480px) and (max-width:575px) {
	html {
		font-size: 14px;
	}



}
@media (max-width: 991px){
.intro-three .intro-three--contents, .intro-three .intro-three--img {
    position: static;
    width: 100%;
}

.intro-three:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
     background: none; 
}
}


.btn-secondary {
    color: #fff;
    background: linear-gradient(-45deg,#ffc74b,#fd5c37);
    border: antiquewhite;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
}

.padding-top{

	padding-top:40px;
	padding-bottom: 40px;
}

.linera-bck{
	background: linear-gradient(-45deg,#ff3a08,#ffaf00);
}

.vertical-align{
	color: #202428;
    line-height: 26.2rem;
    margin: 0;
}

.carousel {
	width: 650px;
	margin: 0 auto;
	padding-bottom: 50px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
   /* text-align: center;*/
	overflow: hidden;
    min-height: 340px;
    padding:0px;
}

.carousel .img-box {
	width: 145px;
	height: 145px;
	margin: 0 auto;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {	
	/*padding: 30px 0 10px;*/
	color: black;

}
.carousel .overview {	
	text-align: center;
	padding-bottom: 5px;
}
.carousel .overview b {
	color: #333;
	font-size: 15px;
	text-transform: uppercase;
	display: block;	
	padding-bottom: 5px;
}
.carousel .star-rating i {
	font-size: 18px;
	color: #ffdc12;
}
.carousel .carousel-control {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #363434;
    text-shadow: none;
    top: 107px;
    right: -76px;
}
.carousel-control i {
	font-size: 20px;
	margin-right: 2px;
}
.carousel-control.left {
	left: -71px;
	right: 40px;
}
.carousel-control.right i {
	margin-right: -2px;
}
.carousel .carousel-indicators {
	bottom: 15px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 11px;
	height: 11px;
	margin: 1px 5px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #e2e2e2;
	border-color: transparent;
}
.carousel-indicators li.active {
	border: none;
	background: #888;		
}

.know-about-us h6{
	font-size: 13px;
    line-height: 1.4rem !important;
    text-align: center;
}
.know-about-us p{
	font-size: 14px;
    line-height: 1.4rem !important;
    text-align: center;
}
.know-about-us .card-body{
	padding: 0.7rem 0.3rem 0rem 1rem !important;
}
.know-about-us .card-footer {
    padding: 0.66667rem 1rem;
    font-size: 11px;
    text-align: center;

}


.team-section{
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	background-image: url(img/img/Team-BG.png);

}
.team-section .card-body img
{
	border-radius: 81px;
    width: 129px;
    height: 129px

}
.pt-156{
	padding-top:156px;
}
.pt-100{
	padding-top:100px;
}
.mb-10{
	margin-bottom: 10px;
}
.mb-0{
	margin-bottom:0px;
}

.modal-header{
    background: #377dff;
    color: white;
}

.modal-header h5{
    background: #377dff;
    color: white;
}
.info-color{
color: #377dff;
}
.ulline-height {
    line-height: 23px;
}
.ulline-height li{
	list-style: initial;
}
.enginering-img{
	padding: 64px 0px;
}

.enginering-text{
	padding: 84px 0px;
}
.margin-zero {
    margin: 0px !important;
}
#course_page .full-width {
    width: 100%;
}
.dev-hd-img {
    position: relative;
}
h1.dev-header {
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 3px 5px rgb(0, 0, 0);
    font-weight: 600;
    position: absolute;
    top: 50%;
    font-size: 30px;
}


/*developement process*/
.portfolio-carousel .dot-circle,
.portfolio-carousel .dot-light {
	margin-top: 2rem
}

.portfolio-carousel-single {
	margin-bottom: 2rem;
	overflow: hidden
}

.portfolio-carousel-single figure {
	position: relative;
	margin: 0
}

.portfolio-carousel-single figure figcaption {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(28, 28, 38, .85);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}

.portfolio-carousel-single figure figcaption h5 {
	margin-bottom: 1rem;
	color: #fff
}

.portfolio-carousel-single figure figcaption h5,
.portfolio-carousel-single figure figcaption span {
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}

.portfolio-carousel-single figure figcaption .link {
	position: absolute;
	right: -3.33333rem;
	top: -3.33333rem;
	width: 3.33333rem;
	height: 3.33333rem;
	color: #fff;
	font-size: 1.6rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-border-radius: 0 0 0 3px;
	border-radius: 0 0 0 3px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease
}

.portfolio-carousel-single figure:hover figcaption {
	opacity: 1;
	visibility: visible
}

.portfolio-carousel-single figure:hover figcaption h5,
.portfolio-carousel-single figure:hover figcaption span {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1)
}

.portfolio-carousel-single figure:hover figcaption .link {
	top: 0;
	right: 0
}
.portfolio-carousel-single img{
	height: 281px;
}
.color-secondary{
color:#ff4807;
}
.portfolio-carousel-single figure figcaption .link{
	background: #06b590;
}
.dot-light, .owl-dots {
    text-align: center;
    margin-top: 2rem;
}
.dot-light .owl-dot, .owl-dots .owl-dot {
    display: inline-block;
    margin-right: .66667rem;
    outline: none;
}
.dot-light .owl-dot span, .owl-dots .owl-dot span {
    width: .8rem;
    height: .8rem;
    -webkit-border-radius: 20rem;
    border-radius: 20rem;
    background:rgb(224 139 108 / 56%);
    display: inline-block;
}
.owl-dot.active span{

	    background: #ff4807;
}

/*tab--2*/

.tab.tab--2 .tab_nav2 .nav{
	border-bottom: 1px solid #e4e8ed
}

.tab.tab--2 .tab_nav2 .nav .nav-item .nav-link {
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 4rem;
	position: relative;
	color: rgba(32, 36, 40, .5);
	padding-left: 2rem;
	padding-right: 2rem
}

.tab.tab--2 .tab_nav2 .nav .nav-item .nav-link:before {
	content: "";
	position: absolute;
	height: 8px;
	width: 8px;
	background: #9d9ebc;
	-webkit-border-radius: 200px;
	border-radius: 200px;
	bottom: 0;
	left: 50%;
	-webkit-transform: translate(-50%, 50%);
	-ms-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%)
}

.tab.tab--2 .tab_nav2 .nav .nav-item .nav-link.active:after{
	position: absolute;
	content: '';
	width: 1.33333rem;
	height: 1.33333rem;
	background: rgba(6, 181, 144, .1);
	-webkit-border-radius: 200px;
	border-radius: 200px;
	bottom: 0;
	left: 50%;
	-webkit-transform: translate(-50%, 50%);
	-ms-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%)
}

.tab.tab--2 .tab_nav2 .nav .nav-item .nav-link.active{
	color: #d83507;
}

.tab.tab--2 .tab_nav2 .nav .nav-item .nav-link.active:before{
	background: #d83507;
}

/*contact-support*/

.contact-social a.facebook {
    background: #2a388f;
}
.contact-social a {
    display: inline-block;
    margin: 5px;
    overflow: hidden;
    padding: 0;
    color: #e2e2e2;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    background-color: #e2e2e2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.contact-social a.twitter {
    background: #26aae1;
}
.contact-social a.youtube {
    background: #ed1c24;
}
.contact-social a.gplus {
    background: #221e20;
}
.contact-social a.pinterest {
    background: #bd1d2c;
}
.contact-social a.instagram {
    background: #7d43b7;
}
.contact-social a.slideshare {
    background: #0ca8aa;
}
.contact-split {
		display: block!important;
		height: auto
	}
	.contact-split .g-maps {
		position: relative;
		width: 100%
	}
	.contact-split .g-maps #map2 {
		height: 33.33333rem
	}
	.contact-split .form-wrapper {
		margin-top: 4rem;
		margin-bottom: 4rem
	}
	.contact-split {
	position: relative;
	height: 720px
}

.contact-split .g-maps {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%
}

.contact-split .g-maps #map2 {
	height: 100%
}

.contact-split .g-maps .map-top {
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background:#c3def9;
	padding: 55px 40px;
	-webkit-border-radius: 8px 0 0 8px;
	border-radius: 8px 0 0 8px;
	-webkit-box-shadow: 0 5px 30px rgba(41, 41, 59, .1);
	box-shadow: 0 5px 30px rgba(41, 41, 59, .1)
}

.contact-split .g-maps .map-top ul {
	margin: 0
}
.icon-list2 {
    margin-bottom: 2rem;
}
.icon-list2 .icon {
    font-size: 1.8rem;
    line-height: 1;
    margin-right: 1rem;
    color: #e90707f5;
}
.icon-list2 h6 {
    margin-bottom: .6rem;
    color: #202428;
    font-weight: 500;
    font-size: 1.13333rem;
    font-family: Poppins,Mirza,sans-serif;
}
.icon-list2 .sub-text {
    color: #9192a3;
    font-family: Poppins,Mirza,sans-serif;
}
.list li {
    padding: 0 0 8px;
}

.faq-single a{
	font-size: 14px;
	color:#003e7e;
}

.services-content h2 {
    clear: both;
    margin: 0 0 15px;
}
.sub-heading {
    font-size: 19px;
   
    letter-spacing: 1px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 600 !important;
    margin-bottom: 0px;
    text-align: left;
    padding-bottom: 30px;
}
.color > p {
    background-color: #345c2b;
}
.color1 > p {
    background-color: #592b2b;
}
.color2 > p {
    background-color: #3b5b8a;
}
.color3 > p {
    background-color: #4c5430;
}
.color4 > p {
    background-color: #0065ba;
}
.color5 > p {
    background-color: #60382e;
}
.color6 > p {
    background-color: #591a3e;
}
.color7 > p {
    background-color: #387475;
}
.service-color > p {
    position: relative;
    width: 145%;
    padding: 15px;
    z-index: 100;
    bottom: 28px;
    margin-bottom: 0;
    color: #fff;
}
.read-more {
    padding: 0 15px 5px !important;
}
.services-content .col-md-5 a {
    color: yellow;
}
.prdct-cont > p {
    margin: 0;
    padding: 7px 30px;
    border-top: 1px dotted #000;
}
.position-left{
	position: relative;
    right: 200px;
}

.cta-wrapper {
	padding: 6.86667rem 0 7.33333rem
}
.cta-wrapper-sm {
	padding: 4rem 0
}
.cta--nine p {
    color: #fff;
    font-weight: 300;
    
   
}
.cta--nine {
	position: relative;
	overflow: hidden
}
.cta--nine .cta--none-contents {
	position: relative
}
.cta--nine .cta--none-contents:before {
	position: absolute;
	content: '';
	width: 25.13333rem;
	height: 55.53333rem;
	right: 0;
	top: 0;
	background: rgba(255, 255, 255, .03);
	-webkit-border-radius: 5.33333rem;
	border-radius: 5.33333rem;
	-webkit-transform: rotate(-45deg) translateX(82%);
	-ms-transform: rotate(-45deg) translateX(82%);
	transform: rotate(-45deg) translateX(82%)
}
.cta--nine .cta--none-contents:after {
	position: absolute;
	content: '';
	width: 33.33333rem;
	height: 55.53333rem;
	right: 0;
	top: 0;
	background: rgba(255, 255, 255, .03);
	-webkit-border-radius: 5.33333rem;
	border-radius: 5.33333rem;
	-webkit-transform: rotate(-45deg) translate(59%, 20%);
	-ms-transform: rotate(-45deg) translate(59%, 20%);
	transform: rotate(-45deg) translate(59%, 20%)
}
.cta--nine.cta-wrapper {
	padding-top: 4.66667rem
}
.cta--nine h3 {
	color: #fff;
	font-weight: 300;
	line-height: 3.06667rem;
	font-size: 29px
}
.cta--nine h3 span {
	font-weight: 600
}
.cta--nine:before {
	position: absolute;
	content: "";
	width: 180%;
	height: 150%;
	background: #fff;
	left: -40%;
	top: 87%;
	-webkit-border-radius: 50%;
	border-radius: 50%
}
	
	
	.counter.counter--3 {
    padding: 7.33333rem 0;
}
.counter.counter--3 .counter_single .title {

	color: rgba(255, 255, 255, .7);
    
}
.counter_single {
	text-align: center
}
.counter_single p {
	margin: 0
}
.counter_single .icon {
	padding-bottom: 2.33rem
}
.counter_single .icon span {
	color:#fff;
	font-size: 3.47rem
}
.counter_single .value {
	font-size: 3.2rem;
	line-height: 3.66rem;
	font-weight: 600;
	color:#fff;
	margin-bottom: 0
}
.biz_overlay.overlay--primary:before {
    background-color: rgba(65, 58, 164, .85);
}
.biz_overlay:before {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    content: '';
    z-index: 1;
    background: rgba(0, 0, 0, .6);
}
.biz_overlay {
    position: relative;
    height: 100%;
    width: 100%;
}
.bg_image_holder {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-background-size: cover!important;
    background-size: cover!important;
    background-position: 50% 50%!important;
    background-repeat: no-repeat!important;
    z-index: 0;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    opacity: 0;
    overflow: hidden;
}
.bg_image_holder img {
    display: none;
}
.content_above {
    z-index: 2;
    position: relative;
}
 .btn-lightgreen {
    background-color: #e5f0e0;
    color: #264821;
    font-weight: bold;
    font-size: 13px;
    text-transform: capitalize;
    border: 1px solid #7ac70a;
    box-shadow: 0px 1px 4px #ededed;
    border-radius: 2px;
    margin-right: 20px;
    padding: 2px 10px;
}
 .approachtab i {
    color: #264821;
    margin-right: 20px;
}
.iti-table {
    box-shadow: 0 1px 3px #c1c1c1;
}

.card-body {
    background: rgba(0, 203, 84, 0.1);
}